.items {
  display: flex;
  justify-content: space-evenly;
}
.items .item_box {
  width: 300px;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #6BBE92;
}
.items .item_box p {
  text-align: center;
}
