.items {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}
.items .item_box {
  width: 300px;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #6BBE92;
}
.items .item_box p {
  text-align: center;
}

.item_banner {
  background: linear-gradient(to bottom, transparent 50%, #6BBE92 50%);
  width: 160px;
  text-align: center;
}
